<log4net>
  <appender name="UnityAppender" type="UnityAppender">
    <file value="C:\Users\Exop\Documents\Any Civilization Game\mobil_loadbalancer\Builds\Windows\Logs\master.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>


  <root>
    <level value="DEBUG" />
    <appender-ref ref="UnityAppender" />
  </root>
</log4net>